<div class="info-container">
  <mat-card class="example-card">
    <mat-card-title>THE RESERVATION SYSTEM</mat-card-title>
    <mat-card-content>
      <p>This application is created using following Technologies : -</p>
      <mat-list>
        <mat-list-item> <b>Front-end :- </b> &nbsp; Angular.js </mat-list-item>
        <mat-list-item> <b>Back-end :- </b> &nbsp; Node.js </mat-list-item>
        <mat-list-item> <b>Back-end :- </b> &nbsp; Express.js </mat-list-item>
        <mat-list-item> <b>Database :- </b> &nbsp; MongoDB </mat-list-item>
      </mat-list>
      <p>
        This application used to make a reservation.
      </p>
      <p>
        The application needs details such as <strong>Room type, From and to date, breakfast delivery and extra facilities</strong>.
      </p>
      <p>This applcation is created using Angular Material.</p>
    </mat-card-content>
  </mat-card>
</div>