<div class="info-container">
  <h1>Created By</h1>
  <mat-card class="example-card">
    <mat-card-title>Kishankumar Patel</mat-card-title>
    <mat-card-subtitle>c0810869</mat-card-subtitle>
  </mat-card>
  <br />
  <mat-card class="example-card">
    <mat-card-title>Ravi Hiteshkumar Patel</mat-card-title>
    <mat-card-subtitle>c0810869</mat-card-subtitle>
  </mat-card>
  <br />
  <mat-card class="example-card">
    <mat-card-title>Shivam Mahesh Patel</mat-card-title>
    <mat-card-subtitle>c0810869</mat-card-subtitle>
  </mat-card>
  <br />
  <mat-card class="example-card">
    <mat-card-title>Yash Prakashbhai Chovatiya</mat-card-title>
    <mat-card-subtitle>c0810869</mat-card-subtitle>
  </mat-card>
</div>